################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/TRAX_FAPrintFTInv/CopilotIndices/17.12.53.23981
/BuildModelResult.log
/BuildModelResult.xml
/BuildProjectResult.err.xml
/BuildProjectResult.log
/BuildProjectResult.xml
/XppMetadata/TRAX_FAPrintFTInv/AxClass
/.vs/TRAX_FAPrintFTInv/v17
/models/TRAX_FAPrintFTInv/bin
/models/TRAX_FAPrintFTInv/XppMetadata/TRAX_FAPrintFTInv/AxClass
/models/TRAX_FAPrintFTInv/BuildModelResult.err.xml
/models/TRAX_FAPrintFTInv/BuildModelResult.log
/models/TRAX_FAPrintFTInv/BuildModelResult.xml
/models/TRAX_FAPrintFTInv/BuildProjectResult.log
/models/TRAX_FAPrintFTInv/BuildProjectResult.xml
/.vs
/projects/TRAX_FAPrintFTInv/.vs/TRAX_FAPrintFTInv
/projects/TRAX_FAPrintFTInv/TRAX_FAPrintFTInv/obj/Debug
